.message-box {
    display: flex;
    flex-direction: column;
}

.message-name p {
    text-align: left;
    font-weight: bold;
    font-size: 20px;
}

.message-body p {
    text-align: left;
    background: #d9d9d9;
    max-width: 400px;
    padding: 20px;
}
.message-box-container {
    max-height: 800px;
    overflow-y: auto;
  }