.row {
    display: flex;
    flex-direction: row;
  }
  
  .column {
    flex: 1;
    padding: 10px;
  }
  
  .column-right {
    flex: 1;
    padding: 10px;
    position: relative;
  }
  
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  input {
    height: 30px;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }
  
  button {
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    background-color: black;
    color: #fff;
    cursor: pointer;
  }
  
  button:hover {
    background-color: darkgreen;
  }
  
  .login-page {
    background-color: #f2f2f2;
  }
  
  .blurred-img {
    filter: blur(10px);
    max-width: 100%;
    height: auto;
    display: block;
  }
  
  .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: whitesmoke;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
  }
  
  .form-radio {
    display: inline-flex;
    gap: 10px;
  }
  
  .signup-link:hover {
    color: lightgreen;
  }